* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
    color: white;
    font-family: "D-DIN-Regular", Arial, Verdana, sans-serif;
}



.main-nav {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 30px;
    font-weight: 900;
    font-size: 12px;
    align-items: end;
}

.main-menu {
    display: flex;
    width: 65%;
    justify-content: space-between;
}

.side-menu {
    display: flex;
    width: 5%;
    justify-content: space-between;
}

.main-nav a {
    text-decoration: none;
}

.main-nav ul li {
    list-style: none;
    justify-content: space-between; 
}

.main-nav ul li a:hover {
    border-bottom: 1px solid #ffffff;
}

.main-nav img {
    width: 200px;
    margin: 0;
    padding: 0;
    color: white;
}

.watch {
    border: 3px solid rgb(255, 255, 255);
    padding: 20px;
    width: 200px;
    margin-top: 30px;
    text-align: center;
    transition:1.5s;
}

h2 {
    font-size: 40px;
    
}

h4 {
    font-size: 20px;
    font-weight: 100;
    
    
}

.learn-more {
    border: 1px solid rgb(255, 255, 255);
    padding: 20px 30px;
    width: 170px;
    margin-top: 15px;
}

.section1 {
    background-image: url("images/STARSHIP_Testflight_DESKTOP_2b3bea613a.jpg");
    background-size: cover;
    height: 750px;
    width: 100%;

}

.section1-in {
    justify-content: baseline;
    text-align: justify;
    margin: 200px 80px;
}

.section2 {
    background-image: url("images/Star5_6_DSC_2777_desktop_19c3b97615.jpg");
    background-size: cover;
    height: 800px;
    width: 100%;
}

.section3 {
    background-image: url("images/Via_Sat_3_outside39mound_DSC_5674_1_desktop_1843517ce0.jpg");
    background-size: cover;
    height: 800px;
    width: 100%;
}

.section4 {
    background-image: url("images/homepage_1054_desktop_a52a06e9f7\ \(1\).jpg");
    background-size: cover;
    height: 800px;
    width: 100%;
}
.section5 {
    background-image: url("https://sxcontent9668.azureedge.us/cms-assets/assets/Homepage_Desktop_5ebdeb0c6c.webp");
    background-size: cover;
    height: 746px;
    width: 100%;
}


.section2-in {
    padding: 200px 80px;
    text-align: left;
}

.section3-in {
    padding: 400px 80px;
    text-align: left;
}

.section4-in {
    padding: 200px 80px;
    text-align: left;
}
.section5-in {
    padding: 100px 80px;
    text-align: left;
    
}
.foot{
margin-top: 10%;
}

.links {
    background-color: black;
    height: 120px;
    text-align: left;
}


.foot-link {
    display: flex;
    justify-content: space-between;
}

.links ul {
    list-style: none;
    padding: 50px 250px;
    font-size: .7rem;
    font-weight: 900;
}

.links a {
    text-decoration: none;
}

 .btn:hover {
    background-color: #ffffff;
    color: #000;
    cursor: pointer;

 }
    
 